<div class="link-wrapper-mobile">
    <ul class="link">
      <li><a href="mailto:negar.kamali@u.northwestern.edu" target="_blank"><i class="fa fa-envelope"></i> Email</a></li>
      <li><a href="https://scholar.google.com/citations?user=BtbeIckAAAAJ&hl=en" target="_blank"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/negarkamali" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/negar-kamali/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
</div>
